name: Validate Links

on:
  push:
    branches:
      - main
    paths:
      - "**.md"
      - ".github/workflows/link-validation.yml"
  pull_request:
    paths:
      - "**.md"
  workflow_dispatch:
  schedule:
    # Check links weekly on Mondays at 09: 00 UTC
    - cron: "0 9 * * 1"

jobs:
  link-validation:
    name: Validate Markdown Links
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: false

      - name: Check Links
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
          config-file: ".github/workflows/link-check-config.json"
          file-path: "./README.md, ./CHANGELOG.md"
