name: Markdown Linter

on:
  push:
    branches:
      - main
    paths:
      - "**.md"
      - ".markdownlint.json"
      - ".github/workflows/markdown-linter.yml"
  pull_request:
    paths:
      - "**.md"
      - ".markdownlint.json"
  workflow_dispatch:

jobs:
  lint:
    name: Lint Markdown
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: false

      - name: Lint Markdown files
        uses: DavidAnson/markdownlint-cli2-action@v13
        with:
          globs: |
            README.md
            CHANGELOG.md
